remote:
#    enabled: false
#    host: https://academie.backend.webconnect.nl
#    uri: /webservice/academie.php
#    headers:
#        'Content-type': 'application/json'
    host: https://acceptatie-academie.backend.webconnect.nl
    uri: /webservice/academie.php
    headers:
        'Content-type': 'application/json'
    get_courses:
        'u': 'set this in local config'
        'p': 'set this in local config'
        'm': 'get_cursusuitvoeringen'
    get_events:
        'u': 'set this in local config'
        'p': 'set this in local config'
        'm': 'get_events'
target:
    contenttype: cursussen
    ownerid: 3