remote:
    production:
        enabled: false
        host: https://academie.backend.webconnect.nl
        uri: /webservice/academie.php
        headers:
            'Content-type': 'application/json'
        username: 'set this in local config'
        password: 'set this in local config'
    acceptance:
        enabled: false
        host: https://acceptatie-academie.backend.webconnect.nl
        uri: /webservice/academie.php
        headers:
            'Content-type': 'application/json'
target:
    contenttype: cursussen
    ownerid: 3
