remote:
#    enabled: false
#    host: https://academie.backend.webconnect.nl
#    uri: /webservice/academie.php
#    headers:
#        'Content-type': 'application/json'
#    username: 'set this in local config'
#    password: 'set this in local config'
    enabled: true
    host: https://acceptatie-academie.backend.webconnect.nl
    uri: /webservice/academie.php
    headers:
        'Content-type': 'application/json'
    get_courses:
        'u': 'set this in local config'
        'p': 'set this in local config'
        'm': 'get_cursusuitvoeringen'
    get_events:
        'u': 'set this in local config'
        'p': 'set this in local config'
        'm': 'get_events'
target:
    contenttype: cursussen
    ownerid: 3

# This option will update the Docenten contenttype when set to false and only save
# Docenten when set to true.
save_only: false