{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    <p>Kies de WebConnect-service om te importeren.</p>

    <a href="importwebconnect/cursussen" class="btn btn-secondary" role="button">Cursussen</a>
    <a href="importwebconnect/events" class="btn btn-secondary" role="button">Events</a>

{% endblock page_main %}
